.dashboard {
	margin-top: 1.2rem !important;

	&-top-section {
		margin-top: 1rem !important;

		&-project {
			padding-left: 0 !important;
			display: flex;
			flex-direction: column !important;
			justify-content: space-around !important;
			height: 115%;
			width: 100%;
		}
	}
}
