.info {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	height: 100%;
	width: 16rem;
	background-color: white;
	border-radius: 1rem;
	padding: 1rem;
	color: white;
	box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px,
		rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
	transition: 0.4s ease-in-out;

	&:hover {
		box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
	}

	&-content {
		background-color: rgba(183, 194, 243, 0.3);
		border-radius: 1rem;
		padding: 0.7rem 1rem 0.3rem 1rem;

		.row {
			display: flex;
			align-items: center;
			margin-bottom: 0.4rem;
			width: 90%;

			.number {
				margin-right: 1rem;
				background-color: #6100d4;
				padding: 0.8rem 1rem;
				font-size: 1.3rem;
				border-radius: 1rem;
			}

			.subtitle {
				h3 {
					color: black;
				}
				h5 {
					color: #333333;
					font-weight: normal;
				}
			}
		}

		.badge {
			justify-content: space-between;
		}
	}
}
